<div class="col-10 offset-1 about">

  <h1>About Splurty</h1>

  <p>

    Splurty was built by <a target="_blank" href="https://github.com/jurneyy">Erny</a> A web developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.

  </p>

  <br />

  <p>
    He worked with hundreds of students on how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High School.
  </p>

  <p>

    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.

  </p>

  <div class="row">

    <div class="col-12 col-sm-4">

      <%= image_tag 'EJ2.jpg', class: 'img-fluid' %>

    </div>

    <div class="col-12 col-sm-7 offset-sm-1">

      <h2 class="text-center">Erny Juarez</h2>

      <br />

      <p>
        Erny Juarez is a web developer and an IT manager. He consulted Fortune 500 companies and participated in numerous Hackathon projects that lead to product development. 

      </p>

    </div>

  </div>

	<br class="clear" />

	<br />

	<br />

	<br />
	
	<br />


</div>
